/*Estilos body casi todo va a theme*/
body {
  background-color: #141414;
  color: #b4b4b4;
  font-family: "Roboto", sans-serif;
}

/*Estilos barra de navegación*/
nav {
  scroll-behavior: smooth;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

/*Estilos barra de footer*/
footer {
  background-color: #145860;
  color: white;
}

