/*Estilos body*/
body {
  background-color: #141414;
  color: #b4b4b4;
  font-family: "Roboto", sans-serif;
}

/*Estilos barra de navegación*/
nav {
  scroll-behavior: smooth;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

/*Estilos barra de footer*/
footer {
  background-color: #145860;
  color: white;
}

/*Estilos de card + transition para efecto al :hover*/
.card {
  background-color: #145860;
  transition: 0.3s;
}

.card-title,
.card-text {
  color: white;
}

/*Estilos de boton enviar + transition para efecto al :hover*/
#enviarCorreo {
  background-color: #145860;
  color: white;
  transition: 0.3s;
}

/*Estilo de iconos*/
#icon {
  background-color: #145860;
}

/*Reescalar tamaño de elemento card y boton enviar al :hover*/
.card:hover,
#enviarCorreo:hover {
  transform: scale(1.05);
}

.carousel-item,
.carousel-inner,
.carousel {

  @include sm {
    height: 300px;
  }

  @include lg {
    height: 500px;
  }

  @include xl {
    height: 500px;
  }

  @include xxl {
    height: 500px;
  }
}
